<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TuanGou.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E47FB2E51E026C14001A058B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E47FB2FE1E026C14001A058B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E47FB3091E026C14001A058B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
